<div class="container-fluid">
  <div class="row p-2 pt-5">
    <div class="col-xxl-2 col-xl-2 col-lg-1 col-md-0 col-sm-2 col-0"></div>
    <div class="col-xxl-7 col-xl-8 col-lg-10 col-md-12 col-sm-8 col-12">
      <div class="row align-items-center">
        <div class="col-2"><span class="fst-italic">Сортировка по: </span></div>
        <div class="col-4">
          <div class="btn-group" role="group" aria-label="Базовая группа переключателей радио">
            <input type="radio" class="btn-check" name="btnradioSort" id="btnradio5" autocomplete="off" checked (click)="sort('1')">
            <label class="btn btn-outline-info" for="btnradio5">дате</label>
            <input type="radio" class="btn-check" name="btnradioSort" id="btnradio6" autocomplete="off" (click)="sort('2')">
            <label class="btn btn-outline-info" for="btnradio6">рейтингу</label>
            <input type="radio" class="btn-check" name="btnradioSort" id="btnradio7" autocomplete="off" (click)="sort('3')">
            <label class="btn btn-outline-info" for="btnradio7">лайкам</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-2 col-lg-1 col-md-0 col-sm-2 col-0"></div>
  </div>
  <div class="row p-2" *ngFor="let review of generalOverviews" >
    <div class="col-xxl-2 col-xl-2 col-lg-1 col-md-0 col-sm-2 col-0"></div>
    <div class="col-xxl-7 col-xl-8 col-lg-10 col-md-12 col-sm-8 col-12 border border-3 rounded-3" style="background-color: #f8f8f8">
      <div class="row p-2">
        <div class="col-md-8 col-sm-12">
          <a class="link-dark text-decoration-none" [routerLink]="[review.id]">
            <span class="h3"><strong>{{review.overview.topic}}</strong></span>
          </a>
        </div>
        <div class="col-md-4 col-sm-12 p-sm-2">
          <span><em>{{review.overview.date| date: "medium"}}</em></span>
        </div>
      </div>
      <div class="row p-2">
        <div id="file{{review.id}}" class="col-md-4 col-sm-12 carousel slide" data-bs-ride="carousel" style="min-height: 250px; min-width: 200px">
          <div class="carousel-inner" style="height: 250px; width: 200px">
            <div *ngFor="let image of review.images; let idx = index;" class="carousel-item" [ngClass]="{active: idx === 0}">
              <img src="{{image.image}}" class="img-fluid img-thumbnail" alt="..." style="height: 250px; width: 200px">
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#file'+review.id" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button"[attr.data-bs-target]="'#file'+review.id" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <app-vote id="{{review.id}}"></app-vote>
          <div class="row">
            <div class="col-md-6 col-sm-12 p-3">
              <div class="div rounded border border-2" style="min-height: 200px; min-width: 200px">
                <span class="m-2"><strong>Достоинства: </strong><em>{{review.overview.advantages}}</em></span>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 p-3">
              <div class="div rounded border border-2" style="min-height: 200px; min-width: 200px">
                <span class="m-2"><strong>Недостатки: </strong><em>{{review.overview.disadvantages}}</em></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-1">
        <div class="col-md-9 col-sm-12">
          <strong>Создал: </strong><em>{{review.user.firstName}} {{review.user.lastName}}</em>
          <img src="{{review.user.profileImageUrl}}" class="rounded-circle img-fluid border border-2" alt="..." style="height: 40px">
        </div>
        <div class="col-md-3 col-sm-12">
          <span><strong>Оценка автора: {{review.overview.grade}}</strong></span>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-2 col-lg-1 col-md-0 col-sm-2 col-0"></div>
  </div>
</div>

