<header>
<div class="container-fluid">
  <div class="row p-3 align-items-center">
    <div class="col-lg-3 col-sm-6 col-12 text-center">
      <a class="bi-balloon-heart nav-link fs-4 fst-italic" routerLink="/"><strong>Recommendation Portal</strong></a>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 text-center">
      <a class="bi-chat nav-link fs-5 fst-italic" routerLink="/user/room/review"><strong>Создать обзор</strong></a>
    </div>
    <div class="col-lg-2 col-sm-4 col-12 text-center">
      <div class="btn-group p-1" role="group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Eng</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Rus</label>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 col-12 text-center p-1">
      <div class="btn-group" role="group">
        <input type="radio" class="btn-check" name="btnradio0" id="btnradio3" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio3">Write</label>
        <input type="radio" class="btn-check" name="btnradio0" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio4">Black</label>
      </div>
    </div>
    <div class="col-lg-2 col-sm-4 col-12 text-center">
      <button *ngIf="!flag" class="btn btn-primary" type="button" routerLink="/login">Sign in</button>
      <a *ngIf="flag" class="nav-link fst-italic" routerLink="/user/room"><strong>Welcome, {{name}}</strong></a>
    </div>
  </div>
  <div class="row p-2 grad" style="background-color: aqua">
    <div class="col-lg-8 col-sm-12 col-12">
      <ul class="nav nav-pills justify-content-center p-2">
        <li class="nav-item p-1">
          <a class="nav-link border border-3" routerLinkActive="active" [routerLink]="['/group', 'games']"><strong>Games</strong></a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link border border-3" routerLinkActive="active" [routerLink]="['/group', 'technology']"><strong>Technology</strong></a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link border border-3" routerLinkActive="active" [routerLink]="['/group', 'tv']"><strong>TV</strong></a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link border border-3" routerLinkActive="active" [routerLink]="['/group', 'cars']"><strong>Cars</strong></a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link border border-3" routerLinkActive="active" [routerLink]="['/group', 'clothes']"><strong>Clothes</strong></a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link border border-3" routerLinkActive="active" [routerLink]="['/group', 'sport']"><strong>Sport</strong></a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link border border-3" routerLinkActive="active" [routerLink]="['/group', 'others']"><strong>Others</strong></a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8">
      <form class="d-flex p-2">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-primary" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</div>
</header>
<div class="container-fluid" style="background-color: gainsboro">
  <router-outlet></router-outlet>
</div>
<notifier-container></notifier-container>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-5">
        <p>Здесь информация о компании и прочих услуг!</p>
      </div>
    </div>
  </div>
</footer>

